swagger: '2.0'
info:
  title: Deployments
  version: '1'
  description: |
    An API for device firmware deployments. Intended for use by devices.

    Devices can get new updates and send information about current deployment status.

host: 'hosted.mender.io'
basePath: '/api/devices/v1/deployments'
schemes:
  - https

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  DeviceJWT:
    type: apiKey
    in: header
    name: Authorization
    description: |
      API token issued by Device Authentication service.
      Format: 'Authorization: Bearer [JWT]'

responses:
  NotFoundError: # 404
    description: Not Found.
    schema:
      $ref: "#/definitions/Error"
  InternalServerError: # 500
    description: Internal Server Error.
    schema:
      $ref: "#/definitions/Error"
  InvalidRequestError: # 400
    description: Invalid Request.
    schema:
      $ref: "#/definitions/Error"
  UnauthorizedError: # 401
    description: Unauthorized.
    schema:
      $ref: "#/definitions/Error"

paths:
  /artifacts:
    get:
      operationId: List Artifacts
      tags:
        - Device API
      security:
        - DeviceJWT: []
      summary: List artifacts filtering by release name and device type
      description: |
        Returns a collection of up to 100 artifacts matching the provided release name and device type.
      parameters:
        - name: release
          in: query
          required: true
          type: string
          description: name of the release
        - name: device_type
          in: query
          required: true
          type: string
          description: Device type of device
      responses:
        200:
          description: Successful response.
          examples:
            application/json:
              - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                name: Application 1.0.0
                description: Johns Monday test build
                device_types_compatible: [Beagle Bone]
                info:
                  type_info:
                    type: rootfs
                signed: false
                updates:
                  - type_info:
                      type: "rootfs-image"
                    files:
                      - name: rootfs-image-1
                        checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                        size: 123
                        date: 2016-03-11T13:03:17.063+0000
                    meta_data: {}
                artifact_provides:
                  artifact_name: "test"
                  rootfs-image.checksum: "32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99"
                  rootfs-image.version: "test"
                artifact_depends:
                  device_type:
                    - "test"
                clears_artifact_provides:
                  - "rootfs-image.*"
                size: 36891648
                modified: "2016-03-11T13:03:17.063493443Z"
          schema:
            $ref: "#/definitions/Artifacts"
        400:
          $ref: "#/responses/InvalidRequestError"
        401:
          $ref: '#/responses/UnauthorizedError'
        404:
          $ref: "#/responses/NotFoundError"
        500:
          $ref: "#/responses/InternalServerError"

  /artifacts/{id}:
    get:
      operationId: Show Artifact
      tags:
        - Device API
      security:
        - DeviceJWT: []
      summary: Get the details of a selected artifact
      description: |
        Returns the details of a selected artifact.
      parameters:
        - name: id
          in: path
          description: Artifact identifier.
          required: true
          type: string
      produces:
        - application/json
      responses:
        200:
          description: Successful response.
          examples:
            application/json:
              id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
              name: Application 1.0.0
              description: Johns Monday test build
              device_types_compatible: [Beagle Bone]
              info:
                type_info:
                  type: rootfs
              signed: false
              updates:
                - type_info:
                    type: "rootfs-image"
                  files:
                    - name: rootfs-image-1
                      checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                      size: 123
                      date: 2016-03-11T13:03:17.063+0000
                  meta_data: {}
              artifact_provides:
                artifact_name: "test"
                rootfs-image.checksum: "32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99"
                rootfs-image.version: "test"
              artifact_depends:
                device_type:
                  - "test"
              clears_artifact_provides:
                - "rootfs-image.*"
              size: 36891648
              modified: "2016-03-11T13:03:17.063493443Z"
          schema:
            $ref: "#/definitions/Artifact"
        400:
          $ref: "#/responses/InvalidRequestError"
        401:
          $ref: '#/responses/UnauthorizedError'
        404:
          $ref: "#/responses/NotFoundError"
        500:
          $ref: "#/responses/InternalServerError"

  /artifacts/{id}/download:
    get:
      operationId: Download Artifact
      tags:
        - Device API
      security:
        - DeviceJWT: []
      summary: Get the download link of a selected artifact
      description: |
        Generates signed URL for downloading artifact file. URI can be used only
        with GET HTTP method. Link supports such HTTP headers: 'Range',
        'If-Modified-Since', 'If-Unmodified-Since' It is valid for specified
        period of time.
      parameters:
        - name: id
          in: path
          description: Artifact identifier.
          required: true
          type: string
      produces:
        - application/json
      responses:
        200:
          description: Successful response.
          schema:
            $ref: "#/definitions/ArtifactLink"
        400:
          $ref: "#/responses/InvalidRequestError"
        401:
          $ref: '#/responses/UnauthorizedError'
        404:
          $ref: "#/responses/NotFoundError"
        500:
          $ref: "#/responses/InternalServerError"

  /device/deployments/next:
    get:
      operationId: Check Update
      tags:
        - Device API
      security:
        - DeviceJWT: []
      summary: Get next update
      description: |
        On success, either an empty response or a DeploymentInstructions object
        is returned depending on whether there are any pending updates.
      parameters:
        - name: artifact_name
          in: query
          required: true
          type: string
          description: currently installed artifact
        - name: device_type
          in: query
          required: true
          type: string
          description: Device type of device
      responses:
        200:
          description: Successful response.
          examples:
            application/json:
              id: w81s4fae-7dec-11d0-a765-00a0c91e6bf6
              artifact:
                artifact_name: my-app-0.1
                source:
                  uri: "https://aws.myupdatebucket.com/image123"
                  expire: 2016-03-11T13:03:17.063493443Z
                device_types_compatible:
                  - rspi
                  - rspi2
                  - rspi0
          schema:
            $ref: "#/definitions/DeploymentInstructions"
        204:
          description: No updates for device.
        400:
          $ref: "#/responses/InvalidRequestError"
        404:
          $ref: "#/responses/NotFoundError"
        409:
          description: Conflicting request data provided.
          schema:
            $ref: "#/definitions/Error"
        500:
          $ref: "#/responses/InternalServerError"

  /device/deployments/{id}/status:
    put:
      operationId: Update Deployment Status
      tags:
        - Device API
      security:
        - DeviceJWT: []
      summary: Update the device deployment status
      description: |
        Updates the status of a deployment on a particular device. Final status
        of the deployment is required to be set to indicate the success or failure
        of the installation process. The status can not be changed when deployment
        status is set to aborted. Reporting of intermediate steps such as
        installing, downloading, rebooting is optional.
      parameters:
        - name: id
          in: path
          description: Deployment identifier.
          required: true
          type: string
        - name: Status
          in: body
          description: Deployment status.
          required: true
          schema:
            $ref: "#/definitions/DeploymentStatus"
      responses:
        204:
          description: Status updated successfully.
        400:
          $ref: "#/responses/InvalidRequestError"
        404:
          $ref: "#/responses/NotFoundError"
        409:
          description: Status already set to aborted.
        500:
          $ref: "#/responses/InternalServerError"

  /device/deployments/{id}/log:
    put:
      operationId: Report Deployment Log
      tags:
        - Device API
      security:
        - DeviceJWT: []
      summary: Upload the device deployment log
      description: |
        Set the log of a selected deployment. Messages are split by line in the payload.
      parameters:
        - name: id
          in: path
          description: Deployment identifier.
          required: true
          type: string
        - name: Log
          in: body
          description: Deployment log
          required: true
          schema:
            $ref: "#/definitions/DeploymentLog"
      responses:
        204:
          description: The deployment log uploaded successfully.
        400:
          $ref: "#/responses/InvalidRequestError"
        404:
          $ref: "#/responses/NotFoundError"
        500:
          $ref: "#/responses/InternalServerError"

  /download/configuration/{deployment_id}/{device_type}/{device_id}:
    get:
      operationId: Fetch Configuration
      tags:
        - Device API
      security: []
      summary: |
        Internally generated download link for deploying device configurations.
        All parameters are generated internally when fetching a configuration deployment.
      parameters:
        - name: deployment_id
          in: path
          description: Deployment UUID
          type: string
          required: true
        - name: device_type
          in: path
          description: Device type of the calling device
          type: string
          required: true
        - name: device_id
          in: path
          description: Device UUID
          type: string
          required: true
        - name: x-men-expire
          in: query
          description: Time of link expire
          type: string
          format: date-time
          required: true
        - name: x-men-signature
          in: query
          description: Signature of the URL link
          type: string
          required: true
        - name: tenant_id
          in: query
          description: Device tenant ID
          type: string
          required: false
      responses:
        200:
          description: Successful response
          schema:
            type: string
            format: binary
            description: Artifact file
        400:
          $ref: "#/responses/InvalidRequestError"
        403:
          description: The download link has expired or the signature is invalid.
        500:
          $ref: "#/responses/InternalServerError"

definitions:
  Error:
    description: Error descriptor.
    type: object
    properties:
      error:
        description: Description of the error.
        type: string
      request_id:
        description: Request ID (same as in X-MEN-RequestID header).
        type: string
    example:
      error: "failed to decode device group data: JSON payload is empty"
      request_id: "f7881e82-0492-49fb-b459-795654e7188a"
  Artifacts:
    type: array
    items:
      type: object
      items:
        $ref: "#/definitions/Artifact"
  Artifact:
    description: Detailed artifact.
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
      device_types_compatible:
        type: array
        description: An array of compatible device types.
        items:
          type: string
      info:
        $ref: "#/definitions/ArtifactInfo"
      signed:
        type: boolean
        description: Idicates if artifact is signed or not.
      updates:
        type: array
        items:
          $ref: "#/definitions/Update"
      artifact_provides:
        type: object
        description: |
          List of Artifact provides.

          Map of key/value pairs, where both keys and values are strings.
        additionalProperties:
          type: string
      artifact_depends:
        type: object
        description: |
          List of Artifact depends.

          Map of key/value pairs, where keys are strings and values are lists of strings.
        additionalProperties:
          type: array
          items:
            type: string
      clears_artifact_provides:
        type: array
        description: List of Clear Artifact provides.
        items:
          type: string
      size:
        type: number
        format: integer
        description: |
            Artifact total size in bytes - the size of the actual file that will be transferred to the device (compressed).
      modified:
        type: string
        format: date-time
        description: |
            Represents creation / last edition of any of the artifact properties.
    required:
      - name
      - description
      - device_types_compatible
      - id
      - modified
    example:
      id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
      name: Application 1.0.0
      description: Johns Monday test build
      device_types_compatible: [Beagle Bone]
      info:
        type_info:
          type: rootfs
      signed: false
      updates:
        - type_info:
            type: "rootfs-image"
          files:
            - name: rootfs-image-1
              checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
              size: 123
              date: 2016-03-11T13:03:17.063+0000
          meta_data: {}
      artifact_provides:
        artifact_name: "test"
        rootfs-image.checksum: "32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99"
        rootfs-image.version: "test"
      artifact_depends:
        device_type:
          - "test"
      clears_artifact_provides:
        - "rootfs-image.*"
      size: 36891648
      modified: "2016-03-11T13:03:17.063493443Z"
  ArtifactInfo:
      description: |
          Information about artifact format and version.
      type: object
      properties:
        format:
          type: string
        version:
          type: integer
  ArtifactLink:
    description: URL for artifact file download.
    type: object
    properties:
      uri:
        type: string
      expire:
        type: string
        format: date-time
    required:
      - uri
      - expire
    example:
      uri: http://mender.io/artifact.tar.gz.mender
      expire: 2016-10-29T10:45:34Z
  ArtifactTypeInfo:
      description: |
          Information about update type.
      type: object
      properties:
        type:
          type: string
          description: Note that for emtpy Artifacts, the type is 'null'
  Update:
      description: |
          Single updated to be applied.
      type: object
      properties:
        type_info:
          $ref: "#/definitions/ArtifactTypeInfo"
        files:
          type: array
          items:
            $ref: "#/definitions/UpdateFile"
        meta_data:
          type: object
          description: |
              meta_data is an object of unknown structure as this is dependent of update type (also custom defined by user)
  UpdateFile:
      description: |
          Information about particular update file.
      type: object
      properties:
        name:
          type: string
        checksum:
          type: string
        size:
          type: integer
        date:
          type: string
          format: date-time
  DeploymentStatus:
    type: object
    properties:
      status:
        type: string
        enum:
          - installing
          - pause_before_installing
          - downloading
          - pause_before_rebooting
          - rebooting
          - pause_before_committing
          - success
          - failure
          - already-installed
      substate:
        type: string
        description: Additional state information
    required:
      - status
    example:
      status: "success"
  DeploymentInstructions:
    type: object
    properties:
      id:
        type: string
        description: Deployment ID
      artifact:
        type: object
        properties:
          id:
            type: string
          source:
            type: object
            properties:
              uri:
                type: string
                format: url
                description: URL to fetch the artifact from
              expire:
                type: string
                format: date-time
                description: URL expiration time
          device_types_compatible:
            type: array
            description: Compatible device types
            items:
              type: string
          artifact_name:
            type: string
        required:
          - source
          - device_types_compatible
          - artifact_name
    required:
      - id
      - artifact
    example:
      id: w81s4fae-7dec-11d0-a765-00a0c91e6bf6
      artifact:
        artifact_name: my-app-0.1
        source:
          uri: "https://aws.myupdatebucket.com/image123"
          expire: 2016-03-11T13:03:17.063493443Z
        device_types_compatible:
          - rspi
          - rspi2
          - rspi0
  DeploymentLog:
    type: object
    properties:
      messages:
        type: array
        description: Array of log entries of a deployment
        items:
          type: object
          properties:
            timestamp:
              type: string
              format: date-time
            level:
              type: string
            message:
              type: string
          required:
            - timestamp
            - level
            - message
    required:
      - messages
    example:
      messages:
        - timestamp: 2016-03-11T13:03:17.063493443Z
          level: INFO
          message: OK
        - timestamp: 2016-03-11T13:03:18.023765782Z
          level: DEBUG
          message: successfully updated.
